@import '../base/includes';

.second-screen {
  position: relative;

  &__title {
    font-size: 37px;
    text-align: center;
    max-width: 720px;
    margin: 0 auto;
    color: #000;
    padding-top: 76px;
    letter-spacing: 0.5px;
    
    sup {
      font-size: 22px;
    }
    
    @include mobile() {
      padding-left: 10px;
      padding-top: 26px;
      padding-right: 10px;
      font-size: 28px;
    }
  }

  &__subtitle {
    margin: 0 auto;
    font-size: 19px;
    max-width: 710px;
    text-align: center;
    line-height: 1.5;
    padding-top: 22px;
    color: #000;
    
    @include mobile() {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;
    }
  }

  &__product {
    position: relative;
    width: 100%;
    background-position: right bottom;
    min-height: 632px;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    padding: 60px 77px;
    padding-top: 77px;
    background-size: contain;
    
    @include mobile() {
      padding: 50px 20px;
      flex-direction: column;
    }
  }
  
  &__prod-present {
    position: relative;
    min-width: 50%;
    
    @include mobile() {
      min-height: 480px;
    }
  }
  
  &__bg-border {
    width: 738px;
    height: 498px;
    border: 20px solid #ffd89d;
    position: absolute;
    top: 74px;
    left: 56px;
    
    @include tablet-only() {
      width: 600px;
      height: 430px;
    }
    
    @include mobile() {
      display: none;
    }
  }
  
  &__apricot {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  
  &__cream {
    position: absolute;
    z-index: 2;
    top: 173px;
    right: -18px;
    
    @include tablet-only() {
      img {
        max-width: 90%;
      }
    }
    
    @include mobile() {
      top: 100px;
      
      img {
        max-width: 90%;
      }
    }
  }

  &__atr1,
  &__atr2 {
    position: absolute;
    background-size: contain;
    z-index: 5;
  }

  &__atr1 {
    @include aspect-ratio(186,259);
    left: 0;
    width: 186px;
    top: 784px;
    
    @include tablet-only() {
      width: 125px;
      top: 640px;
    }
    
    @include mobile() {
      width: 90px;
    }
  }

  &__atr2 {
    @include aspect-ratio(278,299);
    right: 0;
    width: 278px;
    top: 193px;
    
    @include tablet-only() {
      width: 188px;
      top: 270px;
    }
    
    @include mobile() {
      display: none;
    }
  }
  
  &__descr {
    padding: 180px 72px;
    z-index: 1;
    
    @include tablet-only() {
      padding: 140px 72px;
    }
    
    @include mobile() {
      padding: 50px 30px;
    }
  }
  
  &__prod-title {
    color: #000;
    font-size: 70px;
    line-height: 77px;
    letter-spacing: 3px;
    
    @include tablet-only() {
      font-size: 50px;
      line-height: 57px;
    }
    
    @include mobile() {
      font-size: 40px;
      line-height: 45px;
    }
  }
  
  &__prod-text {
    color: #000;
    padding-top: 21px;
    letter-spacing: 0.5px;
    line-height: 27px;
    
    @include tablet-only() {
      font-size: 14px;
      line-height: 24px;
    }
    
    @include mobile() {
      font-size: 14px;
      line-height: 23px;
    }
  }
  
  &__apricot {
    
    img {
      max-width: 100%;
    }
  }
}
