@import '../base/includes';

.third-screen {
  position: relative;
  
  &__title {
    font-size: 37px;
    text-align: center;
    max-width: 720px;
    margin: 0 auto;
    color: #000;
    padding-top: 76px;
    letter-spacing: 0.5px;
      
      sup {
        font-size: 22px;
      }
  }
  
  &__subtitle {
    margin: 0 auto;
    font-size: 19px;
    max-width: 710px;
    text-align: center;
    line-height: 1.5;
    padding-top: 22px;
    color: #000;
  }
  
  &__product {
    position: relative;
    width: 100%;
    background-position: 17% 48%;
    min-height: 990px;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    padding: 77px;
    padding-right: 78px;
    background-size: contain;
  
    @include tablet-only() {
      min-height: 740px;
    }
  
    @include mobile() {
      padding: 50px 20px 70px;
      min-height: 700px;
      flex-direction: column;
    }
  }
  
  &__prod-present {
    position: relative;
    min-width: 50%;
    
    @include mobile() {
      min-height: 560px;
    }
  }
  
  &__bg-border {
    width: 755px;
    height: 498px;
    border: 20px solid #ffd2d9;
    position: absolute;
    top: 164px;
    right: 51px;
    
    @include tablet-only() {
      width: 80vw;
      height: 428px;
    }
    
    @include mobile() {
      display: none;
    }
  }
  
  &__roses {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    
    @include tablet-only() {
      img {
        max-width: 100%;
      }
    }
    
    @include mobile() {
      img {
        max-width: 100%;
      }
    }
  }
  
  &__cream {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: -134px;
    
    @include tablet-only() {
      bottom: 10px;
      left: -54px;
      
      img {
        max-width: 90%;
      }
    }
    
    @include mobile() {
      bottom: 0;
      left: 0;
      text-align: center;
      
      img {
        max-width: 100%;
      }
    }
  }
  
  &__atr1,
  &__atr2 {
    position: absolute;
    background-size: contain;
    z-index: 5;
  }
  
  &__atr1 {
    @include aspect-ratio(177,106);
    left: 0;
    width: 177px;
    top: 100px;
    
    @include tablet-only() {
      width: 127px;
    }
    
    @include mobile() {
      width: 120px;
      top: 30px;
    }
  }
  
  &__atr2 {
    @include aspect-ratio(306, 460);
    right: 0;
    width: 306px;
    top: 495px;
    
    @include tablet-only() {
      width: 160px;
    }
    
    @include mobile() {
      width: 120px;
    }
  }
  
  &__descr {
    padding-top: 256px;
    z-index: 1;
    min-width: 50%;
    
    @include tablet-only() {
      max-width: 40%;
      padding-top: 90px;
    }
    
    @include mobile() {
      padding: 80px 30px 50px;
    }
  }
  
  &__prod-title {
    color: #000;
    font-size: 70px;
    line-height: 77px;
    letter-spacing: 3px;
    width: 380px;
    
    @include tablet-only() {
      font-size: 50px;
      line-height: 57px;
    }
    
    @include mobile() {
      font-size: 40px;
      line-height: 45px;
      width: 220px;
    }
  }
  
  &__prod-text {
    color: #000;
    padding-top: 21px;
    letter-spacing: 0.5px;
    line-height: 27px;
    max-width: 290px;
    
    @include tablet-only() {
      max-width: 240px;
    }
    
    @include mobile() {
      font-size: 14px;
      line-height: 23px;
      max-width: 100%;
    }
  }
}
