@import '../base/includes';

.third-screen {
  position: relative;
  
  &__title {
    font-size: 37px;
    text-align: center;
    max-width: 720px;
    margin: 0 auto;
    color: #000;
    padding-top: 76px;
    letter-spacing: 0.5px;
      
      sup {
        font-size: 22px;
      }
  }
  
  &__subtitle {
    margin: 0 auto;
    font-size: 19px;
    max-width: 710px;
    text-align: center;
    line-height: 1.5;
    padding-top: 22px;
    color: #000;
  }
  
  &__product {
    position: relative;
    width: 100%;
    background-position: 17% 48%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    padding: 77px;
    padding-right: 78px;
  }
  
  &__prod-present {
    position: relative;
    min-width: 50%;
  }
  
  &__bg-border {
    width: 755px;
    height: 498px;
    border: 20px solid #ffd2d9;
    position: absolute;
    top: 164px;
    right: 51px;
  }
  
  &__roses {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
  
  &__cream {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: -134px;
  }
  
  &__atr1,
  &__atr2 {
    position: absolute;
    background-size: contain;
    z-index: 5;
  }
  
  &__atr1 {
    @include aspect-ratio(177,106);
    left: 0;
    width: 177px;
    top: 100px;
  }
  
  &__atr2 {
    @include aspect-ratio(306, 460);
    right: 0;
    width: 306px;
    top: 495px;
  }
  
  &__descr {
    padding-top: 256px;
    z-index: 1;
    min-width: 50%;
  }
  
  &__prod-title {
    color: #000;
    font-size: 70px;
    line-height: 77px;
    letter-spacing: 3px;
    width: 380px;
  }
  
  &__prod-text {
    color: #000;
    padding-top: 21px;
    letter-spacing: 0.5px;
    line-height: 27px;
    max-width: 380px;
  }
}
