.third-screen {
    position: relative;
    
    &__title {
        font-size: 37px;
        text-align: center;
        max-width: 720px;
        margin: 0 auto;
        color: #000;
        padding-top: 76px;
        letter-spacing: 0.5px;
        
        sup {
            font-size: 22px;
        }
    }
    
    &__subtitle {
        margin: 0 auto;
        font-size: 19px;
        max-width: 710px;
        text-align: center;
        line-height: 1.5;
        padding-top: 22px;
        color: #000;
    }
    
    &__product {
        position: relative;
        width: 100%;
        background-position: 17% 51%;
        min-height: 632px;
        display: flex;
        flex-direction: row;
        flex: 0 0 auto;
        padding: 77px;
        padding-bottom: 240px;
    }
    
    &__prod-present {
        position: relative;
        min-width: 50%;
    }
    
    &__bg-border {
        width: 738px;
        height: 498px;
        border: 20px solid #ffd89d;
        position: absolute;
        top: 74px;
        left: 56px;
    }
    
    &__roses {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    
    &__cream {
        position: absolute;
        z-index: 2;
        top: 173px;
        right: -18px;
    }
    
    &__atr1,
    &__atr2 {
        position: absolute;
        background-size: contain;
        z-index: 5;
    }
    
    &__atr1 {
        @include aspect-ratio(177,106);
        left: 0;
        width: 177px;
        top: 100px;
    }
    
    &__atr2 {
        @include aspect-ratio(306,460);
        right: 0;
        width: 306px;
        top: 495px;
    }
    
    &__descr {
        padding-top: 256px;
        z-index: 1;
    }
    
    &__prod-title {
        color: #000;
        font-size: 70px;
        line-height: 77px;
        letter-spacing: 3px;
    }
    
    &__prod-text {
        color: #000;
        padding-top: 21px;
        letter-spacing: 0.5px;
        line-height: 27px;
    }
}
