<section class="first-screen">
    <div class="first-screen__slider js-slider-block">
        <div class="first-screen__block js-slider">
            <div class="first-screen__wrapper js-slider-wrapper">
                <div class="first-screen__slide js-slider-slide">
                    <div class="first-screen__banner" style="background-image: url('./img/bg.jpg')"></div>
                    <div class="first-screen__container  _g-outer-width">
                        <h2 class="first-screen__title _g-title" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="100">Прикосновение лета каждый день!</h2>
                        <div class="first-screen__subtitle _g-text" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="200">Уход за лицом от Le Petit Marseillais<sup>®</sup></div>
                        <div class="first-screen__text _g-text" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="300">Ревитализирует и увлажняет для естественного сияния кожи</div>
                    </div>
                </div>
                <div class="first-screen__slide js-slider-slide">
                    <div class="first-screen__banner" style="background-image: url('./img/bg.jpg')"></div>
                    <div class="first-screen__container  _g-outer-width">
                        <h2 class="first-screen__title _g-title" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="100">Прикосновение лета каждый день!</h2>
                        <div class="first-screen__subtitle _g-text" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="200">Уход за лицом от Le Petit Marseillais<sup>®</sup></div>
                        <div class="first-screen__text _g-text" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="300">Ревитализирует и увлажняет для естественного сияния кожи</div>
                    </div>
                </div>
                <div class="first-screen__slide js-slider-slide">
                    <div class="first-screen__banner" style="background-image: url('./img/bg.jpg')"></div>
                    <div class="first-screen__container  _g-outer-width">
                        <h2 class="first-screen__title _g-title" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="100">Прикосновение лета каждый день!</h2>
                        <div class="first-screen__subtitle _g-text" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="200">Уход за лицом от Le Petit Marseillais<sup>®</sup></div>
                        <div class="first-screen__text _g-text" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="300">Ревитализирует и увлажняет для естественного сияния кожи</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="first-screen__nav js-slider-nav">
            <div class="first-screen__prev js-prev">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0.292in" height="0.556in">
                    <image  x="0px" y="0px" width="21px" height="40px"  xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAoCAQAAAC7+nluAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfjAwoQBBQWiesxAAAAu0lEQVQ4y43VuQ0CMRAF0L+w0RK4NiRqowI6ICIghy6ogQL4BGhZH3N8OxmPnuRrLE+E1BacZhFe8QLzvvDOC/cyJGSY0QrGtIER7aBPB+hRA9rUhBZ14Ehd2NMAtjSENU3gRlO4UgH+qAQJGRI7zDjgjY/wbAgWPnjmlC9Axmsg4C1McT1IcDsMcZ8I8JhysTWVg+0tmNg7GgP7Rz7g6Co7HJdIg7MqrXBa0BvO6R9P0g9TcMNTo0DB8Qtd0RdKemt3tAAAAABJRU5ErkJggg==" />
                </svg>
            </div>
            <div class="first-screen__next js-next">
                <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0.292in" height="0.556in">
                    <image  x="0px" y="0px" width="21px" height="40px"  xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAoCAQAAAC7+nluAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfjAwoQAxfAwSxMAAAAuUlEQVQ4y43TOQ7CQAwF0A9IKSKuxwWQOB5FOprcigaE9CmiZDbb3zPFLHrybB7wzonI1BNf+OCGL3ThzJVLJjKYxluTwnsngUtX4nogcDsMcT8R4HHKxdZSDraPYGLvagzsX/mAo6fscJwiDVapV2GZpQVreuBz4qP88MYVFx1z4sKVs97AARWtYEwbGNEO+nSAHjWgTU1oUQeO1IU9DWBLQ1hTAQuVcKcJuNEUJNKQAJ85SICPHCT+tZtXloStwBgAAAAASUVORK5CYII=" />
                </svg>
            </div>
        </div>
        <div class="first-screen__pag js-slider-pagination"></div>
    </div>
</section>
