<section class="fourth-screen">
    <div class="fourth-screen__decor-1" style="background-image: url('../img/decor-5.png')"></div>
    <div class="fourth-screen__decor-2" style="background-image: url('../img/decor-6.png')"></div>
    <div class="fourth-screen__product">
        <div class="fourth-screen__title _g-medium">Уход за лицом от&nbsp;Le&nbsp;Petit&nbsp;Marseillais<sup>®</sup></div>
        <div class="fourth-screen__tabs">
            <div class="fourth-screen__tab">Снятие макияжа</div>
            <div class="fourth-screen__tab active">Очищение</div>
            <div class="fourth-screen__tab">Уход</div>
            <div class="fourth-screen__tab">Все продукты</div>
        </div>
        <div class="fourth-screen__product-list _g-outer-width">
            <div class="fourth-screen__product-item">
                <div class="fourth-screen__product-item-inner">
                    <div class="fourth-screen__item-img _apricot">
                        <img class="fourth-screen__prod-img" src="../img/prod/1.png" alt="">
                    </div>
                    <div class="fourth-screen__item-descr">
                        <div class="fourth-screen__item-title _g-medium">Очищающий гель-скраб для&nbsp;лица «Сияние Абрикоса»</div>
                        <div class="fourth-screen__item-text">
                            <div class="fourth-screen__item-text-desc _g-text">Легкая текстура, устраняющая мельчайшие загрязнения, обеспечивает сияние вашей коже. Подходит для всех типов кожи, даже для чувствительной.</div>
                            <div class="fourth-screen__item-hover">
                                <a class="fourth-screen__order-btn _g-medium" href="#">Заказать на Утконос</a>
                                <a class="fourth-screen__more _g-medium" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fourth-screen__product-item">
                <div class="fourth-screen__product-item-inner">
                    <div class="fourth-screen__item-img _apricot">
                        <img class="fourth-screen__prod-img" src="../img/prod/2.png" alt="">
                    </div>
                    <div class="fourth-screen__item-descr">
                        <div class="fourth-screen__item-title _g-medium">Очищающая тонизирующая вода «Сияние Абрикоса»</div>
                        <div class="fourth-screen__item-text">
                            <div class="fourth-screen__item-text-desc _g-text">Легкая текстура, устраняющая мельчайшие загрязнения, обеспечивает сияние вашей коже. Подходит для всех типов кожи, даже для чувствительной.</div>
                            <div class="fourth-screen__item-hover">
                                <a class="fourth-screen__order-btn _g-medium" href="#">Заказать на Утконос</a>
                                <a class="fourth-screen__more _g-medium" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fourth-screen__product-item">
                <div class="fourth-screen__product-item-inner">
                    <div class="fourth-screen__item-img _apricot">
                        <img class="fourth-screen__prod-img" src="../img/prod/3.png" alt="">
                    </div>
                    <div class="fourth-screen__item-descr">
                        <div class="fourth-screen__item-title _g-medium">Тающее молочко «Сияние Абрикоса» для&nbsp;снятия макияжа</div>
                        <div class="fourth-screen__item-text">
                            <div class="fourth-screen__item-text-desc _g-text">Тающая текстура удаляет все следы косметики, в том числе водостойкой, и питает вашу кожу, обеспечивая комфорт и мягкость. Подходит для всех типов кожи, даже для сухой.</div>
                            <div class="fourth-screen__item-hover">
                                <a class="fourth-screen__order-btn _g-medium" href="#">Заказать на Утконос</a>
                                <a class="fourth-screen__more _g-medium" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fourth-screen__product-item">
                <div class="fourth-screen__product-item-inner">
                    <div class="fourth-screen__item-img _roses">
                        <img class="fourth-screen__prod-img" src="../img/prod/4.png" alt="">
                    </div>
                    <div class="fourth-screen__item-descr">
                        <div class="fourth-screen__item-title _g-medium">Мицеллярный гель для&nbsp;снятия макияжа «Свежесть Розы»</div>
                        <div class="fourth-screen__item-text">
                            <div class="fourth-screen__item-text-desc _g-text">Мицеллярный освежающий гель, не требующий смывания, деликатно тает на вашей коже. Его мицеллярная формула снимает все следы косметики, в том числе водостойкой.</div>
                            <div class="fourth-screen__item-hover">
                                <a class="fourth-screen__order-btn _g-medium" href="#">Заказать на Утконос</a>
                                <a class="fourth-screen__more _g-medium" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fourth-screen__product-item">
                <div class="fourth-screen__product-item-inner">
                    <div class="fourth-screen__item-img _roses">
                        <img class="fourth-screen__prod-img" src="../img/prod/5.png" alt="">
                    </div>
                    <div class="fourth-screen__item-descr">
                        <div class="fourth-screen__item-title _g-medium">Очищающий мицеллярный гель для&nbsp;умывания «Свежесть Розы»</div>
                        <div class="fourth-screen__item-text">
                            <div class="fourth-screen__item-text-desc _g-text">Гель хорошо пенится и бережно очищает вашу кожу. Мы собираем лепестки розы вручную на рассвете, чтобы сохранить их свежесть.</div>
                            <div class="fourth-screen__item-hover">
                                <a class="fourth-screen__order-btn _g-medium" href="#">Заказать на Утконос</a>
                                <a class="fourth-screen__more _g-medium" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fourth-screen__product-item">
                <div class="fourth-screen__product-item-inner">
                    <div class="fourth-screen__item-img _roses">
                        <img class="fourth-screen__prod-img" src="../img/prod/6.png" alt="">
                    </div>
                    <div class="fourth-screen__item-descr">
                        <div class="fourth-screen__item-title _g-medium">Очищающий мицеллярный гель для&nbsp;умывания «Свежесть Розы»</div>
                        <div class="fourth-screen__item-text">
                            <div class="fourth-screen__item-text-desc _g-text">Гель хорошо пенится и бережно очищает вашу кожу. Мы собираем лепестки розы вручную на рассвете, чтобы сохранить их свежесть.</div>
                            <div class="fourth-screen__item-hover">
                                <a class="fourth-screen__order-btn _g-medium" href="#">Заказать на Утконос</a>
                                <a class="fourth-screen__more _g-medium" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="fourth-screen__more-products">
            <div class="fourth-screen__plus _g-text">+</div>
            <div class="fourth-screen__more-text _g-medium">Еще продукты</div>
        </a>
    </div>
</section>
