<section class="second-screen">
    <h2 class="second-screen__title">Встречайте линейку средств по уходу за лицом от Le Petit Marseillais<sup>®</sup></h2>
    <h3 class="second-screen__subtitle">Вся сила и польза натуральных ингредиентов прованского лета, воплотившаяся в бьюти-витаминной формуле с витаминами и антиоксидантами, которая ревитализирует и увлажняет кожу</h3>
    <div class="second-screen__product" style="background-image: url('../img/bg.png')">
        <div class="second-screen__prod-present">
            <div class="second-screen__bg-border"></div>
            <div class="second-screen__apircot">
                <img src="../img/1.jpg" alt="">
            </div>
            <div class="second-screen__cream">
                <img src="../img/2.png" alt="">
            </div>
        </div>
        <div class="second-screen__descr"></div>
        <div class="second-screen__atr1" style="background-image: url('../img/decor-1.png')"></div>
        <div class="second-screen__atr2" style="background-image: url('../img/decor-2.png')"></div>
    </div>
</section>