<section class="second-screen">
    <h2 class="second-screen__title _g-medium">Встречайте линейку средств по уходу за лицом от Le Petit Marseillais<sup>®</sup></h2>
    <h3 class="second-screen__subtitle">Вся сила и польза натуральных ингредиентов прованского лета, воплотившаяся в бьюти-витаминной формуле с витаминами и антиоксидантами, которая ревитализирует и увлажняет кожу</h3>
    <div class="second-screen__product  _g-outer-width" style="background-image: url('../img/bg.png')">
        <div class="second-screen__prod-present">
            <div class="second-screen__bg-border"></div>
            <div class="second-screen__roses">
                <img src="../img/1.jpg" alt="">
            </div>
            <div class="second-screen__cream">
                <img src="../img/2.png" alt="">
            </div>
        </div>
        <div class="second-screen__descr">
            <div class="second-screen__prod-title _g-title">Сияние абрикоса</div>
            <div class="second-screen__prod-text _g-text">Мы вручную собираем наши абрикосы в самом сердце Прованса в начале лета, когда их мякоть самая сочная и спелая. Для всех типов кожи, даже для сухой / чувствительной</div>
        </div>
    </div>
    <div class="second-screen__atr1" style="background-image: url('../img/decor-1.png')"></div>
    <div class="second-screen__atr2" style="background-image: url('../img/decor-2.png')"></div>
</section>
