<section class="third-screen">
    <div class="third-screen__product  _g-outer-width" style="background-image: url('../img/bg2.png')">
        <div class="third-screen__descr">
            <div class="third-screen__prod-title _g-title">Свежесть розы</div>
            <div class="third-screen__prod-text _g-text">Мы собираем лепестки розы вручную при&nbsp;первых лучах солнца, чтобы максимально сохранить их свежесть. Увлажняет и&nbsp;освежает кожу. Для&nbsp;всех типов кожи, даже для&nbsp;комбинированной</div>
        </div>
        <div class="third-screen__prod-present">
            <div class="third-screen__bg-border"></div>
            <div class="third-screen__roses">
                <img src="../img/3.png" alt="">
            </div>
            <div class="third-screen__cream">
                <img src="../img/4.png" alt="">
            </div>
        </div>
    </div>
    <div class="third-screen__atr1" style="background-image: url('../img/decor-3.png')"></div>
    <div class="third-screen__atr2" style="background-image: url('../img/decor-4.png')"></div>
</section>
